<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Login</title>
</head>

<body>

    <div class="login-wrap">
        <div class="sign-up-inner">
            <div class="left-section">
                <div class="title">
                    Welcome To Videocafe. Transforming Game
                    Changing App, Host & Market Videos
                </div>
                <img src="../assets/images/Path 6089.svg" alt="">
                <div class="desc mt-auto">
                    Fastest, Secure & Most Reliable Video Hosting Platform in the World Without Monthly Fees!
                </div>
            </div>
            <div class="right-section">



                <form class="register-form" action="" method="post">
                    <!-- <div class="d-flex justify-content-center">
                        <img class="login-logo" src="../assets/images/VC.png" alt="logo">
                    </div> -->
                    <!-- <div class="title">
                        Login to Account
                    </div> -->
                    <div class="form-group">
                        <label for="email">Name</label>
                        <input type="text" class="form-control sign-up-input" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control sign-up-input" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control sign-up-input" id="password">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="form-control sign-up-input" id="password">
                    </div>

                    <div class="mb-1">
                        <label class="form-check-label forgot-pwd-link ml-4">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            I Agree to the <a class="forgot-pwd-link" href="">Terms and Condition</a>
                        </label>
                    </div>


                    <button class="btn btn-login mb-2">Sign Up</button>

                    <a href="../views/login.html" class="sign-up-link">
                        Already have an account?
                    </a>

                    <div class="sign-in-or">
                        <div class="line"></div>
                        <span class="mx-2">OR</span>
                        <div class="line"></div>
                    </div>

                    <button class="btn btn-facebook-sign-in mb-3">
                        <img src="../assets/icons/new assets/asset two/facebook icon.png" alt="facebook icon">
                        Continue with Facebook
                    </button>

                    <button class="btn btn-google-sign-in">
                        <img src="../assets/icons/new assets/asset two/google icon.png" alt="google icon">
                        Continue with Google
                    </button>
                </form>
            </div>

</body>

</html>