@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0f8ac1c4d83320b6f7f8947d0a040eb0") format("truetype"),
url("./flaticon.woff?0f8ac1c4d83320b6f7f8947d0a040eb0") format("woff"),
url("./flaticon.woff2?0f8ac1c4d83320b6f7f8947d0a040eb0") format("woff2"),
url("./flaticon.eot?0f8ac1c4d83320b6f7f8947d0a040eb0#iefix") format("embedded-opentype"),
url("./flaticon.svg?0f8ac1c4d83320b6f7f8947d0a040eb0#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-play-button-arrowhead:before {
    content: "\f101";
}
.flaticon-play-button:before {
    content: "\f102";
}
.flaticon-play:before {
    content: "\f103";
}
.flaticon-play-1:before {
    content: "\f104";
}
.flaticon-play-button-1:before {
    content: "\f105";
}
.flaticon-play-button-2:before {
    content: "\f106";
}
.flaticon-play-button-3:before {
    content: "\f107";
}
.flaticon-play-store:before {
    content: "\f108";
}
.flaticon-play-2:before {
    content: "\f109";
}
.flaticon-media-player:before {
    content: "\f10a";
}
.flaticon-play-button-4:before {
    content: "\f10b";
}
.flaticon-youtube:before {
    content: "\f10c";
}
.flaticon-play-button-5:before {
    content: "\f10d";
}
.flaticon-pause-play:before {
    content: "\f10e";
}
.flaticon-play-button-6:before {
    content: "\f10f";
}
.flaticon-play-3:before {
    content: "\f110";
}
.flaticon-film:before {
    content: "\f111";
}
.flaticon-play-4:before {
    content: "\f112";
}
.flaticon-play-button-7:before {
    content: "\f113";
}
.flaticon-movie:before {
    content: "\f114";
}
.flaticon-play-button-8:before {
    content: "\f115";
}
.flaticon-play-button-9:before {
    content: "\f116";
}
.flaticon-play-button-10:before {
    content: "\f117";
}
.flaticon-video:before {
    content: "\f118";
}
.flaticon-video-player:before {
    content: "\f119";
}
.flaticon-multimedia-player:before {
    content: "\f11a";
}
.flaticon-video-player-1:before {
    content: "\f11b";
}
.flaticon-pause:before {
    content: "\f11c";
}
.flaticon-google-play:before {
    content: "\f11d";
}
.flaticon-play-button-11:before {
    content: "\f11e";
}
.flaticon-film-1:before {
    content: "\f11f";
}
.flaticon-play-5:before {
    content: "\f120";
}
.flaticon-play-button-12:before {
    content: "\f121";
}
